.header1{
    border: 1px solid black;
    height: 70px;
    width: 100%;
    color: brown;
    text-align: center;
    
    
}
.left{
    border: 1px solid black;
    width: 30%;
    height: 500px;
    float: left;
}
.contrainer{
    border: 1px solid black;
    width: 50%;
    height: 500px;
    margin-left: 30%;

}
.right{
    border: 1px solid black;
    width: 20%;
    height: 500px;
    margin-top: -502px;
    margin-left: 80%;
    
}
.botom{
    border: 1px solid black;
    height: 70px;
    width: 100%;
    
}
#head2{
    color: brown;
}